body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
}

.kertas{
    background-color: #ffffff;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 0 auto;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
}

h1 {
    text-align: center;

    margin-bottom: 5px;
}

.tagline {
    text-align: center;
    color: #888888;

    margin-top: 0;
}

h2 {
    color: #e1306c;
    border-bottom: 2px solid #eeeeee;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px dashed #cccccc;
    padding: 10px 0;
}

.sosmed {
    text-align: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
    background-color: #e1306c;
    display: inline-block;
    color: white;
    padding: 10px 20px;

    margin: 0 5px;
    border-radius: 6px;
}