.body {
    background-color: rgb(58, 102, 168);
    font-family: 'Times New Roman', Times, serif;
}

.kertas {
    background-color: rgb(233, 253, 248);
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 15px;
    padding: 30px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.foto {
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.tagline {
    text-align: center;
    color: rgb(244, 226, 226);
    margin-top: auto;
}

h2 {
    color: rgb(24, 22, 22);
    border-bottom: 1px solid rgb(33, 205, 190);
    margin-top: 0;
    font-size: medium;
    font-weight: normal;
    padding: 0%;
}

h3 {
    color: rgb(20, 18, 18);
    border-bottom: 1px solid rgb(33, 205, 190);
    font-size: medium;
    font-weight: normal;
}

h4 {
    color: rgb(20, 18, 18);
    border-bottom: 1px solid rgb(33, 205, 190);
    font-size: medium;
    font-weight: normal;
}

.sosmed {
     text-align: center;
    padding-top: 20px;
    padding: 0%;
}

p {
    text-align: center;
    padding-top: 10px;
}

a {
    text-align: center;
    text-decoration: none;
    background-color: rgb(129, 184, 184);
    color: rgb(169, 247, 247);
    padding: 10px 20px;
    margin: 45px
}